/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: black;
     -fx-pref-height:5;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: bisque;
     -fx-padding: 15;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: bisque;
}


/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #1d6809;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider > .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}

.jfx-slider > .axis {
    -fx-tick-label-fill: white;
 }

.combo-box > .list-cell {
-fx-text-fill: white;
}